header{
  background:url('https://i.imgur.com/sLR7fbE.jpg') center center no-repeat;
    height:15rem;
  }
  .side-menu-design {
    background-color:grey;
    transform: translateX(100%);
    transition: 0.8s ease-in-out;
    width:1500px;
    height:600px;
     }
  .side-menu-position{
    display:none;
  }
   .second-columnA img{
      width:90%;
    }
  .logo{
    width:1rem;
  }
   #hamburger-menu img{
    display:flex;
    justify-content:flex-end;
    height:30vh;
    color:white; 
  } 
  .hobby-container{
    display:none;
      }
  
  .hobby-container a{
    color:purple;
    text-decoration:none;
  }
  .show{
    opacity: 1;
    transform: translateX(0%);
    display:block;
   }
  .my-photo img{
    width:90%;
  /*   height:350px; */
  }
  .my-photo p{
  text-align:justify;
    padding:0.5rem;
  }
  h1{
    margin:0;
    padding:2rem;
    border-bottom:2px solid lightgrey;
    background:white;
    color:purple;
  }
  .nav-item{
    font-size:2rem;
    font-weight:bold;
    color:white;
    padding:1rem;
  }
  /* .second-columnB img{
    width:350px;
    height:250px;
  } */
  @media(min-width:800px){
    #hamburger-menu img{
    display:none;
      }
    .hobby-container{
    background:lightgrey;
    color:purple;
    text-decoration:none;
    display:flex;
    justify-content:space-between;
    list-style: none;
    border-bottom:2px solid lightgrey;
    padding:1rem;
    position:relative;
    top:180px;
    font-family: 'Architects Daughter', cursive;
    font-weight:bold;
    font-size:1.3rem;
    }
    .my-photo img{
    width:500px;
    height:700px;
    position:relative;
    left:40px;
   background-color:white;
  }
    .my-photo p{
        text-align: justify;
    }
    .my-photo{
     background:white;
      width:40vw;
      position:relative;
      left:25px;
      padding:2rem 4rem;
      font-family: "Open Sans", sans-serif;
      font-size:1.2rem;
      margin:3rem;
       }
   body{
    background:lightgrey;
  }
    .second-columnB{
      width:30vw;
      height:50vh;
      background-color:white;
      margin:0 0 0 3rem;
      padding:0 0 1rem 1rem;
    }
    .second-columnA{
      width:30vw;
      height:100vh;
      background-color:white;
      margin:0 0 0 3rem;
      padding:1rem 0 1rem 1rem;
    }
  /*   .second-columnC{
      width:30vw;
      height:60vh;
      background-color:white;
      margin:2rem 0 0 3rem;
      padding:2rem 0 0 2rem;
     } */
  /*   .second-columnA img{
      width:30vw;
    } */
    .right-column{
      display:block;
      position:absolute;
  /*     left:700px;
      top:-1068px; */
      width:300px;
        left:750px;
        top:395px;
    }
    .second-columnA h3,.second-columnB h3{
      padding:0.5rem 0.5rem;
    }
    .second-columnB img{
      height:300px;
      width:380px;
    }
    .flex-items{
  /*     display:grid;
      flex-direction:row; */
    }
    .flex-items a{
       padding:0 0 0 1rem;
    }
    .side-menu-design{
      display:none;
    }
      .flex-icons a{
      size:48px;
      text-decoration:none;
      border-radius:2px;
      padding:0.3rem;
      font-size:2rem;
    }
    .flex-icons{
      display:flex;
  /*     justify-content:center;  */
  /*     width:100%;  */
      height:20px;  
      position:absolute;
      left:100px;
      padding:3rem 0 0 0;
    }
    }
    .flex-icons a{
      size:48px;
      text-decoration:none;
      border-radius:2px;
      padding:0.3rem;
      font-size:2rem;
    }
    .flex-icons{
      display:flex;
      justify-content:center;
      width:100%;
      height:20px;  
    }
    
  
  
  
  